.env
node_modules
node_modules/
node_modules/*
node_modules/**
platforms
platforms/
platforms/*
platforms/**
hooks
hooks/
hooks/*
hooks/**
.migration_backup
.migration_backup/
.migration_backup/*
.migration_backup/**
